[submodule "src/vendor/yaml-cpp"]
	path = src/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
[submodule "src/Render/vendor/ImGuizmo"]
	path = src/Render/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo.git
[submodule "src/vendor/shaderc"]
	path = src/vendor/shaderc
	url = https://github.com/google/shaderc.git
