.vscode/settings.json
build/build.sh
build/clean_build.sh
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/reply/cache-v2-38f651bf1c639d74885d.json
build/.cmake/api/v1/reply/cache-v2-a36373ea797cb29ad1ce.json
build/.cmake/api/v1/reply/codemodel-v2-15125e1bb869fce7573a.json
build/.cmake/api/v1/reply/codemodel-v2-6748593976c9971f3af5.json
build/.cmake/api/v1/reply/index-2024-09-22T10-19-49-0540.json
build/.cmake/api/v1/reply/index-2024-09-23T08-01-06-0314.json
build/.cmake/api/v1/reply/target-VectorVertex-Debug-96379362e02c2ed46489.json
build/.cmake/api/v1/reply/target-VectorVertex-Debug-f949a79be11946b23637.json
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/VectorVertex.dir/build.make
build/CMakeFiles/VectorVertex.dir/cmake_clean.cmake
build/CMakeFiles/VectorVertex.dir/compiler_depend.internal
build/CMakeFiles/VectorVertex.dir/compiler_depend.make
build/CMakeFiles/VectorVertex.dir/DependInfo.cmake
build/CMakeFiles/VectorVertex.dir/flags.make
build/CMakeFiles/VectorVertex.dir/link.txt
build/CMakeFiles/VectorVertex.dir/main.cpp.o
build/CMakeFiles/VectorVertex.dir/main.cpp.o.d
build/CMakeFiles/VectorVertex.dir/progress.make
build/CMakeFiles/VectorVertex.dir/src/Core/Keyboard_inputs.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/Keyboard_inputs.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Core/Layer.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/LayerStack.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/VectorVertex.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/VectorVertex.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Core/Panels/SceneHierarchy.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/Panels/SceneHierarchy.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Core/Scene/Entity.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/Scene/Entity.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Core/Scene/Scene.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/Scene/Scene.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Render/vv_game_object.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/vv_game_object.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Render/vv_offscreen.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Layers/Editor_Layer.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Layers/Editor_Layer.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Render/Layers/Imgui_Layer.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Render_Systems/vv_point_light_system.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Render_Systems/vv_point_light_system.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Render/Render_Systems/vv_render_system.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Render_Systems/vv_render_system.cpp.o.d
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/VectorVertex.dir/build.make
build/CMakeFiles/VectorVertex.dir/cmake_clean.cmake
build/CMakeFiles/VectorVertex.dir/compiler_depend.internal
build/CMakeFiles/VectorVertex.dir/compiler_depend.make
build/CMakeFiles/VectorVertex.dir/DependInfo.cmake
build/CMakeFiles/VectorVertex.dir/flags.make
build/CMakeFiles/VectorVertex.dir/link.txt
build/CMakeFiles/VectorVertex.dir/main.cpp.o
build/CMakeFiles/VectorVertex.dir/main.cpp.o.d
build/CMakeFiles/VectorVertex.dir/progress.make
build/CMakeFiles/VectorVertex.dir/src/Core/Keyboard_inputs.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/Keyboard_inputs.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Core/Layer.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/LayerStack.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/VectorVertex.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/VectorVertex.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Core/Scene/Entity.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/Scene/Entity.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Core/Scene/Scene.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Core/Scene/Scene.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Render/vv_game_object.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/vv_game_object.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Render/vv_offscreen.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Layers/Editor_Layer.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Layers/Editor_Layer.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Render/Layers/Imgui_Layer.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Render_Systems/vv_point_light_system.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Render_Systems/vv_point_light_system.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Render/Render_Systems/vv_render_system.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Render_Systems/vv_render_system.cpp.o.d
build/VectorVertex
build/VectorVertex.log
build/.cmake/api/v1/reply/index-2024-10-19T03-06-06-0139.json
build/.cmake/api/v1/reply/index-2024-10-19T05-37-52-0295.json
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/3
build/CMakeFiles/Progress/4
build/CMakeFiles/Progress/5
build/CMakeFiles/Progress/6
build/CMakeFiles/Progress/7
build/CMakeFiles/Progress/8
build/CMakeFiles/Progress/9
build/CMakeFiles/Progress/11
build/CMakeFiles/Progress/12
build/CMakeFiles/Progress/13
build/CMakeFiles/Progress/14
build/CMakeFiles/Progress/15
build/CMakeFiles/Progress/17
build/CMakeFiles/Progress/18
build/CMakeFiles/Progress/19
build/CMakeFiles/Progress/20
build/CMakeFiles/Progress/21
build/CMakeFiles/Progress/22
build/CMakeFiles/Progress/23
build/CMakeFiles/Progress/24
build/CMakeFiles/Progress/25
build/CMakeFiles/Progress/26
build/CMakeFiles/Progress/27
build/CMakeFiles/Progress/28
build/CMakeFiles/Progress/29
build/CMakeFiles/Progress/30
build/CMakeFiles/Progress/31
build/CMakeFiles/Progress/33
build/CMakeFiles/Progress/34
build/CMakeFiles/Progress/35
build/CMakeFiles/Progress/36
build/CMakeFiles/Progress/37
build/CMakeFiles/Progress/38
build/CMakeFiles/Progress/39
build/CMakeFiles/Progress/40
build/CMakeFiles/Progress/41
build/CMakeFiles/VectorVertex.dir/compiler_depend.make
build/CMakeFiles/VectorVertex.dir/src/Plattform/Linux/LinuxWindow.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Plattform/Linux/LinuxWindow.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Plattform/Vulkan/vk_context.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Plattform/Vulkan/vk_context.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/Plattform/Vulkan/vk_renderer_api.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Plattform/Vulkan/vk_swap_chain.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Plattform/Vulkan/Render_Systems/vk_point_light_system.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/FrameBuffer.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/GraphicsContext.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/RenderCommand.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Renderer.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/RendererAPI.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Window.cpp.o
build/CMakeFiles/VectorVertex.dir/src/Render/Window.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/VectorVertex/Application.cpp.o
build/CMakeFiles/VectorVertex.dir/src/VectorVertex/Panels/SceneHierarchy.cpp.o
build/CMakeFiles/VectorVertex.dir/src/VectorVertex/Panels/SceneHierarchy.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/VectorVertex/Scene/EditorCamera.cpp.o
build/CMakeFiles/VectorVertex.dir/src/VectorVertex/Scene/EditorCamera.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/VectorVertex/Scene/Entity.cpp.o
build/CMakeFiles/VectorVertex.dir/src/VectorVertex/Scene/Entity.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/VectorVertex/Scene/Scene.cpp.o
build/CMakeFiles/VectorVertex.dir/src/VectorVertex/Scene/Scene.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/VectorVertex/Scene/SceneSerializer.cpp.o
build/CMakeFiles/VectorVertex.dir/src/VectorVertex/Scene/SceneSerializer.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui_demo.cpp.o
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui_demo.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui_draw.cpp.o
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui_draw.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui_impl_glfw.cpp.o
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui_impl_glfw.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui_impl_vulkan.cpp.o
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui_impl_vulkan.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui_tables.cpp.o
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui_tables.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui_widgets.cpp.o
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui_widgets.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui.cpp.o
build/CMakeFiles/VectorVertex.dir/src/vendor/imgui/imgui.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/vendor/ImGuizmo/ImCurveEdit.cpp.o
build/CMakeFiles/VectorVertex.dir/src/vendor/ImGuizmo/ImCurveEdit.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/vendor/ImGuizmo/ImGradient.cpp.o
build/CMakeFiles/VectorVertex.dir/src/vendor/ImGuizmo/ImGradient.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/vendor/ImGuizmo/ImGuizmo.cpp.o
build/CMakeFiles/VectorVertex.dir/src/vendor/ImGuizmo/ImGuizmo.cpp.o.d
build/CMakeFiles/VectorVertex.dir/src/vendor/ImGuizmo/ImSequencer.cpp.o
build/CMakeFiles/VectorVertex.dir/src/vendor/ImGuizmo/ImSequencer.cpp.o.d
